#layout-header-menu > div > ul > li {
    float: left;
    list-style: none;

    margin-left: 10px;
    padding-left: 12px;
}

#layout-header-menu > div > ul > li > a {
    margin-right: 10px;
    padding-right: 11px;
    display: block;

    font-size: 15px;
    color: #FDFBFB;
    text-decoration: none;
    font-family: 'Lora', georgia, Arial, serif;
    font-style: italic;
}
#layout-header-menu > div > ul > li:hover, #layout-header-menu > div > ul > li.active {
    background: url(../images/layout/topmenu-left.png) no-repeat left;
}
#layout-header-menu > div > ul > li:hover > a, #layout-header-menu > div > ul > li.active > a {
    background: url(../images/layout/topmenu-right.png) no-repeat right;
}

/* Menu Like */
.menulike-toexpand {
    position: relative;
    z-index: 2;
}
.menulike-toexpand:hover {
    background: #000;
}

.menulike-toexpand ul {
    position: absolute;
    display: none;
    background-color: #000;

    box-shadow: 2px 2px 3px #aaa;

    padding: 8px;

    top: 2.5em;
    left: 0;

    list-style: none;
}
.menulike-toexpand:hover ul {
    display: block;
}