#layout-header-menu > div > ul > li {
    float: left;
    list-style: none;

    margin-left: 10px;
    padding-left: 12px;

    position: relative;
}

#layout-header-menu > div > ul > li > a {
    margin-right: 10px;
    padding-right: 11px;
    display: block;

    font-size: 15px;
    color: #FDFBFB;
    text-decoration: none;
    font-family: 'Lora', georgia, Arial, serif;
    font-style: italic;
}
#layout-header-menu > div > ul > li:hover, #layout-header-menu > div > ul > li.active {
    background: url(../images/layout/topmenu-left.png) no-repeat left;
}
#layout-header-menu > div > ul > li:hover > a, #layout-header-menu > div > ul > li.active > a {
    background: url(../images/layout/topmenu-right.png) no-repeat right;
}

/* Dropdown */
#layout-header-menu > div > ul > li ul,
.menulike-toexpand                  ul {
    background: #1f2324;
    padding: 5px 0;
    box-shadow: 1px 1px 5px #000;
    border-radius: 0 0 5px 5px;
    list-style: none;
    position: absolute;
    left: 0;
    
    display: none;
}
#layout-header-menu > div > ul > li > ul > li ul,
.menulike-toexpand                  > ul > li ul{
    margin: -5px 6px 0 100%;
    border-radius: 5px;

    top: 0;
    left: 0;
}
#layout-header-menu > div > ul li:hover > ul,
.menulike-toexpand:hover                > ul,
.menulike-toexpand                  ul > li:hover > ul {
    display: block;
}

#layout-header-menu > div > ul > li ul > li,
.menulike-toexpand                  ul > li {
    position: relative;
    padding: 0 20px;
}

#layout-header-menu > div > ul > li ul a,
.menulike-toexpand                  ul a {
    color: #ababab;

    border-top: 1px solid #454a4b;
    border-bottom: 1px solid #0c0e0f;

    text-shadow: 0 1px 0 black;
    text-decoration: none;

    font-size: 12px;
    font-weight: normal;
    font-family: arial, georgia;

    padding-right: 20px;
    line-height: 33px;
    width: auto;
    display: block;
    margin: 0;
}
#layout-header-menu > div > ul li:hover > a,
.menulike-toexpand             li:hover > a {
    color: #fdfbfb;
}
#layout-header-menu > div > ul > li ul > li:first-child > a,
.menulike-toexpand                  ul > li:first-child > a {
    border-top: 0;
}
#layout-header-menu > div > ul > li ul > li:last-child > a,
.menulike-toexpand                  ul > li:last-child > a {
    border-bottom: 0;
}

span.layout-header-menu-parent {
    position: absolute;
    display: block;
    top: 13px;
    right: 20px;
    width: 10px;
    height: 12px;
    background: url(../images/layout/arrows-ffffff.png) no-repeat 1px top;
}
li:hover > span.layout-header-menu-parent {
    background-position: top right;
}

/* Menu Like */
.menulike-toexpand {
    position: relative;
}
.menulike-toexpand:hover {
    background: #000;
}

.menulike-toexpand * {
    opacity: 1 !important;
}

.menulike-toexpand > ul {
    margin-top: -6px;
}
.menulike-toexpand ul {
    background-color: #000;
    z-index: 2;
}
